# fly.toml app configuration file generated for paperio2-game on 2025-12-17T18:52:33+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '100'
primary_region = 'sjc'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  max_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '256MB'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
